/* Dark theme styles */
body {
    background-color: #000;
    color: #ccc;
}

/* Updated styles for the navigation tabs */
nav {
    text-align: center;
    margin-top: 30px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #888;
    padding: 8px 15px;
    border-radius: 5px;
    transition: color 0.3s ease;
}

nav ul li a.active {
    color: #fff; /* White text for the selected tab */
}


.tab-content {
    padding: 20px;
    display: none;
    animation: fadeIn 0.5s ease; /* Smooth fade-in animation */
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* ABOUT ME */
/* Styles for the curriculum-style list */
/* Styles for the two-column layout */
.two-column-layout {
    display: flex;
    justify-content: space-between;
}

.left-column,
.right-column {
    flex-basis: 48%; /* Adjust the width of the columns as needed */
}

/* Styles for the curriculum-style list */
.curriculum-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.curriculum-list li {
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-item {
    display: flex;
    width: 100%;
}

.list-item-left,
.list-item-right {
    padding: 20px;
}

.list-item-left h4,
.list-item-right h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.list-item-right p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

/* Styles for the curriculum-style list items in education and experience lists */
.education-list .list-item-left,
.experience-list .list-item-left {
    flex: 0 0 200px;
    padding: 20px;
    border-right: 1px solid #ccc;
    text-align: center;
}

.education-list .list-item-right,
.experience-list .list-item-right {
    padding: 20px;
    flex: 1;
}

.education-list .list-item-left h4,
.experience-list .list-item-left h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.education-list .list-item-right p,
.experience-list .list-item-right p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

/* PROJECTS */
/* Estilos para la lista de proyectos y elementos del proyecto */
.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-item {
    width: 300px; /* Ancho deseado para cada elemento del proyecto */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.project-item img {
    width: 100%;
    height: auto;
    display: block;
}

.project-info {
    padding: 15px;
    text-align: left;
}

.project-info h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

.project-title {
    display: inline-block;
    margin-right: 5px;
}

.project-year {
    display: inline-block;
    background-color: #ccc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.project-info p {
    margin-bottom: 10px;
    font-size: 14px;
}

.project-link {
    color: blue;
    text-decoration: none;
}


/* SKILLS */

/* Estilos para el contenedor principal de habilidades */
.skills-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Estilos para el menú de círculos y línea de conexión */
.skills-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 15%;
}

.menu-circles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px; /* Ajustar la altura deseada para los círculos */
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 10px;
    cursor: pointer;
}

.circle.active {
    background-color: #fd0101; /* Color para el círculo activo */
}

.connecting-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 90%;
    background-color: #ccc;
    transform: translateX(-50%);
    z-index: -1;
}

/* Estilos para las secciones de habilidades */
.skills-content {
    flex-grow: 1;
    margin-left: 20px; /* Espacio entre el menú y las secciones de habilidades */
}

.skill-section {
    display: none;
}

/* Styles for the skills grid and skill cards */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.skill-card {
    border-radius: 5px;
    padding: 20px;
    text-align: left; /* Align text content to the left */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #222;
}

.skill-card img {
    max-width: 100px;
    margin-bottom: 10px;
    display: block; /* Ensure images are displayed as block elements */
    margin-left: auto; /* Align images to the left */
    margin-right: auto;
}

.skill-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

.skill-card p {
    font-size: 14px;
    color: #ccc;
    text-align: left; /* Align descriptions to the left */
}
